<div class ="answer-box">
    <h2><%=@question %></h2>
    <em>-You</em>
</div>

<div class ="answer-box">
    <h2><%=@answer %></h2>
    <em>-Your coach </em>
</div>

<%= link_to "Ask a new Question", ask_path %>